:root {
    --primary-color: rgba(255,255,222) ;
    --secondary-color: #024e76;
    --tertiary-color:  rgba(0,0,0); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color:beige;
}

/* Header style */
header {
    display: flex;
    padding: 20px 35px;
    background-color: var(--primary-color);
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(/assets/images/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9000;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.50vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    text-decoration: underline;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    text-shadow: none;
}
/* End Header style */

section {
    padding: 30px;
}

/* Hero style*/
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-image: url("/assets/images/hero-img.jpg");
    background-size: cover;
    height: 100px;
    background-position: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-color);
    font-size: 30px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1.5);
    padding: 20px;
    font-weight: bold;
}
/* Hero style End */

/* About me section */
.history {
    float: left;
    width: 60;
    height: 100;
    top: 90px;
    left: 0;
    background-color: var(--secondary-color);
    border: 7px solid var(--tertiary-color);
    padding-bottom: 300px;
}

.history h2 {
    color: var(--primary-color);
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.history p {
    width: 300px;
}

.portrait img {
    border: 5px solid var(--tertiary-color);
}
/* About me section end */

/* Work style */
.projects {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 0;
    justify-content: space-around;
}

.work-title {
    font-weight: bold;
    font-size: 38px;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--secondary-color);
    padding: 0 10px 20px 20px ;
    text-align: center;
    margin: 0 auto 35px auto;
  
}

.project {
    text-align: center;
    color: var(--primary-color);
    background-image: url("/assets/images/hero-img.jpg");
    border: 3px solid var(--secondary-color);
    margin-bottom: 10px ;
}

.project img {
   border: 4px solid var(--tertiary-color);
}

/* work style end */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--secondary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h4 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    padding-right: 20px;
    border-right: 3px solid var(--tertiary-color);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

footer ul li {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.70vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    text-decoration: underline;
    color: var(--primary-color);
}

footer ul li a {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.70vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    text-decoration: underline;
    color: var(--primary-color);

}

footer ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    text-shadow: none;
}

.flex-row {
    display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width:1400px) {
    .projects {
        display: inline-flex;
    }
    
    .history {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        white-space: normal;
    }

    .history h2 {
        width: 100%;
    }

    .history p {
        width: fit-content;
    }
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h4, footer ul {
        text-align: center;
        width: 100%;
    }

    footer h4 {
        border-right: none;
        text-decoration: underline;
    } 

    .history {
        width: 100%;
        text-align: center;
    }

    .history p {
        width: fit-content;
    }

    .section-title {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .project  {
        width: 100%;
        background-image: none;
        border: none;
    }

    .project h3, .projects p {
        background-image: url("/assets/images/hero-img.jpg");
        margin: 0 200px 0 200px;
        
    }
}

